# SDM670-specific drivers
CONFIG_PINCTRL_SDM670=y
CONFIG_PINCTRL_SDM670_LPASS_LPI=m
CONFIG_INTERCONNECT_QCOM_SDM670=y
CONFIG_SND_SOC_SDM660_INT=m

# Use simplefb instead of drmfb in initramfs so fde is simpler
CONFIG_SDM_DISPCC_845=m
CONFIG_DRM_MSM=m

# Pixel 3a panel driver
CONFIG_DRM_PANEL_SAMSUNG_S6E3FA7=m

# Pixel 3a haptics
CONFIG_INPUT_DRV2624_HAPTICS=y

# Pixel 3a NFC
CONFIG_NFC_NXP_NCI=m
CONFIG_NFC_NXP_NCI_I2C=m

# Pixel 3a modemsmem
CONFIG_QCOM_MODEMSMEM=y

# Pixel 3a sound
CONFIG_SND_SOC_CS35L36=m

# Branding
CONFIG_LOCALVERSION="-sdm670"

# Irrelevant cpufreq driver should not be built:
# https://gitlab.com/sdm845-mainline/linux/-/issues/25
CONFIG_CPUFREQ_DT=n
