# SDM670-specific drivers
CONFIG_PINCTRL_SDM670=y
CONFIG_PINCTRL_SDM670_LPASS_LPI=m
CONFIG_INTERCONNECT_QCOM_SDM670=y
CONFIG_SND_SOC_SDM660_INT=m

# Use simplefb instead of drmfb in initramfs so fde is simpler
CONFIG_SDM_DISPCC_845=m
CONFIG_DRM_MSM=m

# Pixel 3a/3a XL panel driver
CONFIG_DRM_PANEL_SAMSUNG_S6E3FA7=m
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00_BONITO=m

# Pixel 3a haptics
CONFIG_INPUT_DRV2624_HAPTICS=y

# Pixel 3a NFC
CONFIG_NFC_NXP_NCI=m
CONFIG_NFC_NXP_NCI_I2C=m

# Pixel 3a modemsmem
CONFIG_QCOM_MODEMSMEM=y

# Pixel 3a sound
CONFIG_SND_SOC_CS35L36=m
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=m
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=m

# Pixel 3a camera
CONFIG_VIDEO_IMX355=m

# Branding
CONFIG_LOCALVERSION="-sdm670"

# Totally forgot about this great feature
CONFIG_FW_LOADER_COMPRESS=y

# No need for ZBOOT
CONFIG_EFI_ZBOOT=n

# Irrelevant subsystems
CONFIG_ACPI=n
CONFIG_EFI=n
CONFIG_PCI=n

# Irrelevant platforms
CONFIG_ARCH_SPARX5=n
CONFIG_ARCH_MA35=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_STM32=n

# Irrelevant drivers
# 
# These can be disabled with the confidence that it is impossible to use these
# drivers on SDM670 except on an unsupported device.
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_AMD_XGBE=n
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=n
CONFIG_ARM_RASPBERRYPI_CPUFREQ=n
CONFIG_ARM_SCMI_CPUFREQ=n
CONFIG_ARM_SCPI_CPUFREQ=n
CONFIG_ARM_SMMU_V3=n
CONFIG_ATH11K=n
CONFIG_BATTERY_BQ27XXX=n
CONFIG_BCMGENET=n
CONFIG_BT_HCIUART_BCM=n
CONFIG_BT_HCIUART_MRVL=n
CONFIG_CLK_VEXPRESS_OSC=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_COMMON_CLK_VC3=n
CONFIG_CPUFREQ_DT=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=n
CONFIG_DRM_I2C_CH7006=n
CONFIG_DRM_I2C_SIL164=n
CONFIG_DRM_KOMEDA=n
CONFIG_DRM_MSM_DSI_14NM_PHY=n
CONFIG_DRM_MSM_DSI_20NM_PHY=n
CONFIG_DRM_MSM_DSI_28NM_8960_PHY=n
CONFIG_DRM_MSM_DSI_28NM_PHY=n
CONFIG_DRM_MSM_DSI_7NM_PHY=n
CONFIG_DRM_MSM_MDP4=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=n
CONFIG_DRM_PANEL_EBBG_FT8719=n
CONFIG_DRM_PANEL_ILITEK_ILI9882T=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_DRM_PANEL_NOVATEK_NT36672A=n
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00=n
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n
CONFIG_DRM_POWERVR=n
CONFIG_DRM_TI_SN65DSI86=n
CONFIG_DRM_TIDSS=n
CONFIG_DRM_TOSHIBA_TC358767=n
CONFIG_I2C_CADENCE=n
CONFIG_I2C_GPIO=n
CONFIG_I2C_HID=n
CONFIG_INPUT_RK805_PWRKEY=n
CONFIG_INPUT_TPS65218_PWRBUTTON=n
CONFIG_INPUT_TPS65219_PWRBUTTON=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_INTERCONNECT_QCOM_QCM2290=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_INTERCONNECT_QCOM_SC8180X=n
CONFIG_INTERCONNECT_QCOM_SDM845=n
CONFIG_INTERCONNECT_QCOM_SDX75=n
CONFIG_INTERCONNECT_QCOM_SM6115=n
CONFIG_INTERCONNECT_QCOM_SM8250=n
CONFIG_INTERCONNECT_QCOM_SM8650=n
CONFIG_INTERCONNECT_QCOM_SMD_RPM=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_IPQ_GCC_5018=n
CONFIG_IPQ_GCC_5332=n
CONFIG_IPQ_GCC_6018=n
CONFIG_IPQ_GCC_8074=n
CONFIG_IPQ_GCC_9574=n
CONFIG_MFD_TPS65219=n
CONFIG_MSM_GCC_8916=n
CONFIG_MSM_GCC_8994=n
CONFIG_MSM_GCC_8996=n
CONFIG_MSM_GCC_8998=n
CONFIG_MSM_MMCC_8994=n
CONFIG_MSM_MMCC_8996=n
CONFIG_MSM_MMCC_8998=n
CONFIG_MVMDIO=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_PHY_QCOM_QMP_PCIE=n
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=n
CONFIG_PINCTRL_IPQ5018=n
CONFIG_PINCTRL_IPQ5332=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_PINCTRL_IPQ8074=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_PINCTRL_MSM8916=n
CONFIG_PINCTRL_MSM8953=n
CONFIG_PINCTRL_MSM8976=n
CONFIG_PINCTRL_MSM8994=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_PINCTRL_MSM8998=n
CONFIG_PINCTRL_QCM2290=n
CONFIG_PINCTRL_QCS404=n
CONFIG_PINCTRL_QDU1000=n
CONFIG_PINCTRL_RK805=n
CONFIG_PINCTRL_SA8775P=n
CONFIG_PINCTRL_SC7180=n
CONFIG_PINCTRL_SC7280_LPASS_LPI=n
CONFIG_PINCTRL_SC7280=n
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=n
CONFIG_PINCTRL_SDM660=n
CONFIG_PINCTRL_SDM845=n
CONFIG_PINCTRL_SDX75=n
CONFIG_PINCTRL_SINGLE=n
CONFIG_PINCTRL_SM4450=n
CONFIG_PINCTRL_SM6115_LPASS_LPI=n
CONFIG_PINCTRL_SM6115=n
CONFIG_PINCTRL_SM6125=n
CONFIG_PINCTRL_SM6350=n
CONFIG_PINCTRL_SM6375=n
CONFIG_PINCTRL_SM8250_LPASS_LPI=n
CONFIG_PINCTRL_SM8250=n
CONFIG_PINCTRL_SM8350_LPASS_LPI=n
CONFIG_PINCTRL_SM8450_LPASS_LPI=n
CONFIG_PINCTRL_SM8450=n
CONFIG_PINCTRL_SM8650=n
CONFIG_PINCTRL_TPS6594=n
CONFIG_PINCTRL_X1E80100=n
CONFIG_QCOM_EBI2=n
CONFIG_QCOM_EMAC=n
CONFIG_QCOM_GSBI=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_QCM_GCC_2290=n
CONFIG_QCS_GCC_404=n
CONFIG_REGULATOR_DA9211=n
CONFIG_SA_GCC_8775P=n
CONFIG_SA_GPUCC_8775P=n
CONFIG_SC_CAMCC_8280XP=n
CONFIG_SC_DISPCC_8280XP=n
CONFIG_SC_GCC_7180=n
CONFIG_SC_GCC_7280=n
CONFIG_SC_GCC_8280XP=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_SC_LPASSCC_8280XP=n
CONFIG_SDX_GCC_75=n
CONFIG_SENSORS_JC42=n
CONFIG_SM_CAMCC_8250=n
CONFIG_SM_DISPCC_6115=n
CONFIG_SM_DISPCC_8250=n
CONFIG_SM_DISPCC_8650=n
CONFIG_SM_GCC_4450=n
CONFIG_SM_GCC_6115=n
CONFIG_SM_GCC_8450=n
CONFIG_SM_GCC_8550=n
CONFIG_SM_GCC_8650=n
CONFIG_SM_GPUCC_6115=n
CONFIG_SM_GPUCC_8450=n
CONFIG_SM_GPUCC_8550=n
CONFIG_SM_GPUCC_8650=n
CONFIG_SM_TCSRCC_8650=n
CONFIG_SMSC911X=n
CONFIG_SND_SOC_APQ8016_SBC=n
CONFIG_SND_SOC_FSL_ESAI=n
CONFIG_SND_SOC_FSL_SSI=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_SND_SOC_MAX98390=n
CONFIG_SND_SOC_MSM8996=n
CONFIG_SND_SOC_SC8280XP=n
CONFIG_SND_SOC_SDM845=n
CONFIG_SND_SOC_SM8250=n
CONFIG_SND_SOC_TFA989X=n
CONFIG_SYSTEMPORT=n
CONFIG_TOUCHSCREEN_EDT_FT5X06=n
CONFIG_TOUCHSCREEN_NOVATEK_NVT_TS=n
CONFIG_TOUCHSCREEN_S6SY761=n
CONFIG_VEXPRESS_CONFIG=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_VIDEO_IMX412=n
CONFIG_WCN36XX=n
