# This is adapted from sdm670.config with device specific options disabled 
CONFIG_PINCTRL_SDM670=y
CONFIG_PINCTRL_SDM670_LPASS_LPI=y
CONFIG_INTERCONNECT_QCOM_SDM670=y
CONFIG_SND_SOC_SDM660_INT=y
CONFIG_ARCH_QCOM=y

# Power domain controllers should be built-in
CONFIG_SDM_CAMCC_845=y

# Branding
CONFIG_LOCALVERSION="-sdm710"

# No need for ZBOOT
CONFIG_EFI_ZBOOT=n

# Support console=null
CONFIG_NULL_TTY=y

# Changes made in pmaports, still not in vendored SDM845 config
CONFIG_DM_AUDIT=y
CONFIG_DYNAMIC_DEBUG_CORE=y
CONFIG_RMI4_SPI=y
CONFIG_RMI4_SMB=y
CONFIG_RMI4_F34=y
CONFIG_RMI4_F3A=y
CONFIG_HID_A4TECH=y
CONFIG_HID_APPLE=y
CONFIG_HID_BELKIN=y
CONFIG_HID_CHERRY=y
CONFIG_HID_CYPRESS=y
CONFIG_DRAGONRISE_FF=y
CONFIG_HID_EZKEY=y
CONFIG_HOLTEK_FF=y
CONFIG_HID_VIVALDI_COMMON=y
CONFIG_HID_ITE=y
CONFIG_HID_KENSINGTON=y
CONFIG_HID_MICROSOFT=y
CONFIG_HID_MONTEREY=y
CONFIG_NINTENDO_FF=y
CONFIG_HID_NTRIG=y
CONFIG_HID_NVIDIA_SHIELD=y
CONFIG_NVIDIA_SHIELD_FF=y
CONFIG_HID_ORTEK=y
CONFIG_HID_PANTHERLORD=y
CONFIG_PANTHERLORD_FF=y
CONFIG_HID_PICOLCD_CIR=y
CONFIG_STEAM_FF=y
CONFIG_GREENASIA_FF=y
CONFIG_SMARTJOYPLUS_FF=y
CONFIG_THRUSTMASTER_FF=y
CONFIG_ZEROPLUS_FF=y
CONFIG_HID_SENSOR_CUSTOM_SENSOR=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_RTC_DRV_HID_SENSOR_TIME=y
CONFIG_IIO_BUFFER_CB=y
CONFIG_IIO_BUFFER_DMA=y
CONFIG_IIO_BUFFER_DMAENGINE=y
CONFIG_IIO_BUFFER_HW_CONSUMER=y
CONFIG_HID_SENSOR_ACCEL_3D=y
CONFIG_HID_SENSOR_IIO_COMMON=y
CONFIG_HID_SENSOR_IIO_TRIGGER=y
CONFIG_HID_SENSOR_GYRO_3D=y
CONFIG_HID_SENSOR_HUMIDITY=y
CONFIG_HID_SENSOR_ALS=y
CONFIG_HID_SENSOR_PROX=y
CONFIG_HID_SENSOR_MAGNETOMETER_3D=y
CONFIG_HID_SENSOR_INCLINOMETER_3D=y
CONFIG_HID_SENSOR_DEVICE_ROTATION=y
CONFIG_IIO_INTERRUPT_TRIGGER=y
CONFIG_IIO_SYSFS_TRIGGER=y
CONFIG_HID_SENSOR_CUSTOM_INTEL_HINGE=y
CONFIG_HID_SENSOR_PRESS=y

# Module compression config changed in c7ff693fa209 ("module: Split
# modules_install compression and in-kernel decompression")
CONFIG_MODULE_COMPRESS=y
CONFIG_MODULE_COMPRESS_ZSTD=y
CONFIG_MODULE_DECOMPRESS=y

# Irrelevant subsystems
CONFIG_ACPI=n
CONFIG_EFI=n
CONFIG_PCI=n

# Irrelevant platforms
CONFIG_ARCH_AIROHA=n
CONFIG_ARCH_BLAIZE=n
CONFIG_ARCH_SPARX5=n
CONFIG_ARCH_MA35=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_STM32=n

# Irrelevant drivers
# 
# These can be disabled with the confidence that it is impossible to use these
# drivers on SDM670 except on an unsupported device.
CONFIG_ACPI_CPPC_CPUFREQ=n
CONFIG_AMD_XGBE=n
CONFIG_ARM64_PLATFORM_DEVICES=n
CONFIG_ARM_QCOM_CPUFREQ_NVMEM=n
CONFIG_ARM_RASPBERRYPI_CPUFREQ=n
CONFIG_ARM_SCMI_CPUFREQ=n
CONFIG_ARM_SCPI_CPUFREQ=n
CONFIG_ARM_SMMU_V3=n
CONFIG_ATH11K=n
CONFIG_BATTERY_BQ27XXX=n
CONFIG_BCMGENET=n
CONFIG_BT_HCIUART_BCM=n
CONFIG_BT_HCIUART_MRVL=n
CONFIG_CHROMEOS_OF_HW_PROBER=n
CONFIG_CLK_VEXPRESS_OSC=n
CONFIG_CLK_X1E80100_GCC=n
CONFIG_COMMON_CLK_VC3=n
CONFIG_CPUFREQ_DT=n
CONFIG_CPUFREQ_DT_PLATDEV=n
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=n
CONFIG_CRYPTO_DEV_SPACC=n
CONFIG_DRM_I2C_CH7006=n
CONFIG_DRM_I2C_SIL164=n
CONFIG_DRM_ITE_IT6263=n
CONFIG_DRM_KOMEDA=n
CONFIG_DRM_MSM_DSI_14NM_PHY=n
CONFIG_DRM_MSM_DSI_20NM_PHY=n
CONFIG_DRM_MSM_DSI_28NM_8960_PHY=n
CONFIG_DRM_MSM_DSI_28NM_PHY=n
CONFIG_DRM_MSM_DSI_7NM_PHY=n
CONFIG_DRM_MSM_MDP4=n
CONFIG_DRM_MSM_MDP5=n
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=n
CONFIG_DRM_PANEL_EBBG_FT8719=n
CONFIG_DRM_PANEL_ILITEK_ILI9882T=n
CONFIG_DRM_PANEL_KHADAS_TS050=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_DRM_PANEL_NOVATEK_NT36672A=n
CONFIG_DRM_PANEL_NOVATEK_NT36672E=n
CONFIG_DRM_PANEL_SAMSUNG_ATNA33XC20=n
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00=n
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n
CONFIG_DRM_PANTHOR=n
CONFIG_DRM_POWERVR=n
CONFIG_DRM_TI_SN65DSI86=n
CONFIG_DRM_TIDSS=n
CONFIG_DRM_TOSHIBA_TC358767=n
CONFIG_GPIO_PCF857X=n
CONFIG_I2C_CADENCE=n
CONFIG_I2C_GPIO=n
CONFIG_I2C_HID=n
CONFIG_INPUT_RK805_PWRKEY=n
CONFIG_INPUT_TPS65218_PWRBUTTON=n
CONFIG_INPUT_TPS65219_PWRBUTTON=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_INTERCONNECT_QCOM_QCM2290=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_INTERCONNECT_QCOM_SC8180X=n
CONFIG_INTERCONNECT_QCOM_SDM845=n
CONFIG_INTERCONNECT_QCOM_SDX75=n
CONFIG_INTERCONNECT_QCOM_SM6115=n
CONFIG_INTERCONNECT_QCOM_SM8250=n
CONFIG_INTERCONNECT_QCOM_SM8350=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_INTERCONNECT_QCOM_SM8550=n
CONFIG_INTERCONNECT_QCOM_SM8650=n
CONFIG_INTERCONNECT_QCOM_SM8750=n
CONFIG_INTERCONNECT_QCOM_SMD_RPM=n
CONFIG_INTERCONNECT_QCOM_X1E80100=n
CONFIG_IPQ_GCC_5018=n
CONFIG_IPQ_GCC_5332=n
CONFIG_IPQ_GCC_6018=n
CONFIG_IPQ_GCC_8074=n
CONFIG_IPQ_GCC_9574=n
CONFIG_MFD_DA9062=n
CONFIG_MFD_TI_LP873X=n
CONFIG_MFD_TPS65219=n
CONFIG_MSM_GCC_8916=n
CONFIG_MSM_GCC_8994=n
CONFIG_MSM_GCC_8996=n
CONFIG_MSM_GCC_8998=n
CONFIG_MSM_MMCC_8994=n
CONFIG_MSM_MMCC_8996=n
CONFIG_MSM_MMCC_8998=n
CONFIG_MVMDIO=n
CONFIG_NVIDIA_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_NVMEM_QCOM_SEC_QFPROM=n
CONFIG_PHY_CADENCE_DPHY_RX=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_PHY_QCOM_QMP_PCIE=n
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=n
CONFIG_PINCTRL_DA9062=n
CONFIG_PINCTRL_IPQ5018=n
CONFIG_PINCTRL_IPQ5332=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_PINCTRL_IPQ8074=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_PINCTRL_MSM8916=n
CONFIG_PINCTRL_MSM8953=n
CONFIG_PINCTRL_MSM8976=n
CONFIG_PINCTRL_MSM8994=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_PINCTRL_MSM8998=n
CONFIG_PINCTRL_QCM2290=n
CONFIG_PINCTRL_QCS404=n
CONFIG_PINCTRL_QCS615=n
CONFIG_PINCTRL_QCS8300=n
CONFIG_PINCTRL_QDU1000=n
CONFIG_PINCTRL_RK805=n
CONFIG_PINCTRL_SA8775P=n
CONFIG_PINCTRL_SC7180=n
CONFIG_PINCTRL_SC7280_LPASS_LPI=n
CONFIG_PINCTRL_SC7280=n
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=n
CONFIG_PINCTRL_SDM660=n
CONFIG_PINCTRL_SDM845=n
CONFIG_PINCTRL_SDX75=n
CONFIG_PINCTRL_SINGLE=n
CONFIG_PINCTRL_SM4450=n
CONFIG_PINCTRL_SM6115_LPASS_LPI=n
CONFIG_PINCTRL_SM6115=n
CONFIG_PINCTRL_SM6125=n
CONFIG_PINCTRL_SM6350=n
CONFIG_PINCTRL_SM6375=n
CONFIG_PINCTRL_SM8250_LPASS_LPI=n
CONFIG_PINCTRL_SM8250=n
CONFIG_PINCTRL_SM8350_LPASS_LPI=n
CONFIG_PINCTRL_SM8450_LPASS_LPI=n
CONFIG_PINCTRL_SM8450=n
CONFIG_PINCTRL_SM8650=n
CONFIG_PINCTRL_SM8750=n
CONFIG_PINCTRL_TPS6594=n
CONFIG_PINCTRL_X1E80100=n
CONFIG_QCOM_EBI2=n
CONFIG_QCOM_EMAC=n
CONFIG_QCOM_GSBI=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_QCM_GCC_2290=n
CONFIG_QCS_GCC_404=n
CONFIG_QCS_GCC_615=n
CONFIG_QCS_GCC_8300=n
CONFIG_REGULATOR_DA9211=n
CONFIG_REGULATOR_LP873X=n
CONFIG_RESET_GPIO=n
CONFIG_RTC_DRV_DA9063=n
CONFIG_SA_CAMCC_8775P=n
CONFIG_SA_DISPCC_8775P=n
CONFIG_SA_GCC_8775P=n
CONFIG_SA_GPUCC_8775P=n
CONFIG_SA_VIDEOCC_8775P=n
CONFIG_SC_CAMCC_7280=n
CONFIG_SC_CAMCC_8280XP=n
CONFIG_SC_DISPCC_7280=n
CONFIG_SC_DISPCC_8280XP=n
CONFIG_SC_GCC_7180=n
CONFIG_SC_GCC_7280=n
CONFIG_SC_GCC_8180X=n
CONFIG_SC_GCC_8280XP=n
CONFIG_SC_GPUCC_7280=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_SC_LPASSCC_8280XP=n
CONFIG_SC_LPASS_CORECC_7280=n
CONFIG_SC_VIDEOCC_7280=n
CONFIG_SDX_GCC_75=n
CONFIG_SENSORS_JC42=n
CONFIG_SM_CAMCC_8250=n
CONFIG_SM_DISPCC_6115=n
CONFIG_SM_DISPCC_8250=n
CONFIG_SM_DISPCC_8650=n
CONFIG_SM_DISPCC_8750=n
CONFIG_SM_GCC_4450=n
CONFIG_SM_GCC_6115=n
CONFIG_SM_GCC_8350=n
CONFIG_SM_GCC_8450=n
CONFIG_SM_GCC_8550=n
CONFIG_SM_GCC_8650=n
CONFIG_SM_GCC_8750=n
CONFIG_SM_GPUCC_6115=n
CONFIG_SM_GPUCC_8350=n
CONFIG_SM_GPUCC_8450=n
CONFIG_SM_GPUCC_8550=n
CONFIG_SM_GPUCC_8650=n
CONFIG_SM_TCSRCC_8650=n
CONFIG_SM_TCSRCC_8750=n
CONFIG_SMSC911X=n
CONFIG_SND_SOC_AK4619=n
CONFIG_SND_SOC_APQ8016_SBC=n
CONFIG_SND_SOC_FSL_ESAI=n
CONFIG_SND_SOC_FSL_SSI=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_SND_SOC_MAX98390=n
CONFIG_SND_SOC_MSM8996=n
CONFIG_SND_SOC_SC8280XP=n
CONFIG_SND_SOC_SDM845=n
CONFIG_SND_SOC_SM8250=n
CONFIG_SND_SOC_TFA989X=n
CONFIG_SND_SOC_X1E80100=n
CONFIG_SYSTEMPORT=n
CONFIG_TOUCHSCREEN_EDT_FT5X06=n
CONFIG_TOUCHSCREEN_NOVATEK_NVT_TS=n
CONFIG_TOUCHSCREEN_S6SY761=n
CONFIG_TYPEC_TCPCI_MAXIM=n
CONFIG_VEXPRESS_CONFIG=n
CONFIG_VIDEO_CADENCE_CSI2RX=n
CONFIG_VIDEO_IMX412=n
CONFIG_WCN36XX=n

CONFIG_NAMESPACES=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_EXPERT=y
CONFIG_SGETMASK_SYSCALL=y
CONFIG_PERF_EVENTS=y
CONFIG_SCHED_SMT=y
CONFIG_CPU_IDLE=y
CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_FIRMWARE_MEMMAP=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_HW_RANDOM=y
CONFIG_THERMAL=y
CONFIG_THERMAL_WRITABLE_TRIPS=y
CONFIG_THERMAL_GOV_USER_SPACE=y
CONFIG_DRM=y
CONFIG_FB=y
CONFIG_FB_MODE_HELPERS=y
CONFIG_FB_SIMPLE=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
CONFIG_LOGO=y
CONFIG_HID_REDRAGON=y
CONFIG_EXT4_FS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_QUOTA=y
# CONFIG_PRINT_QUOTA_WARNING is not set
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_CONFIGFS_FS=y
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_RAM=y
CONFIG_NLS=y
CONFIG_PRINTK_TIME=y
CONFIG_DEBUG_MEMORY_INIT=y
# CONFIG_FTRACE is not set
